body {
    background-image: url(../img/sky_1920.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    font-size: 1.5rem;
    color: white;
}

#city {
    background-color: rgba(41, 128, 185, 0.75);
    width: 150px;
    height: 150px;
}

#temp {
    background-color: rgba(43, 78, 101, 0.75);
    width: 150px;
    height: 150px;
}

#humidity{
    background-color: rgba(52, 152, 219, 0.75);
    width: 150px;
    height: 150px;
}

#wind{
    background-color: rgba(143, 148, 154, 0.75);
    width: 150px;
    height: 150px;
}